@keyframes go{
    from{opacity: 0;}
    to{opacity: 1;}
}
*{
    margin: 0%;
    font-family: "Roboto", sans-serif,"Noto Sans TC", sans-serif;
}
/* 頁首 */
.header{
    background-color: #262626;
    height: 80px;
    border-bottom: 5px solid #ffcc66;
}
a{
    text-decoration: none;
}
h1{
    color: #ffffff;
    font-size: 50px;
    margin:0px 200px 0px 400px;
    display: inline;
}
i{
    display: inline-block;
    font-size: 30px;
    color:#ffffff;
    margin:0px 10px;
}
.headButton{
    display: inline;
}
input{
    font-size: 20px;
    margin: 0%;
    width: 500px;
    height: 30px;
    padding: 0%;
    border:0px;
}
/* 內容 */
img{
    width: 300px;
    border-radius: 10px;
}
section{
    display: inline-block;
}
.product{
    color: #ffffff;
    background-color: #737373;
    max-width: 300px;
    display: inline-block;
    border: 2px solid #262626;
    border-radius: 10px;
    margin: 30px 50px 0px 50px;
    animation: go 1s;
}
button{
    background-color: #e69900;
    position: relative;
    left: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* 結帳 */
#aside{
    float: right;
    padding:10px ;
    background-color: #262626;
    width: 500px;
    height: 600px;
    position: relative;
    top: 50px;
    right: 100px;
    border-radius: 10px;
}
.check{
    font-size: 30px;
    margin: 0px 5px;
    position: relative;
    top: 30px;
    left:230px;
    border-radius: 10px;
}
#finalcheck{
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 30px;
}